* {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.wrapper {
    min-height: 100%;
}

form {
    padding: 10px;
}

form label {
    line-height: 2em;
}


input:invalid:not(:placeholder-shown) {
    border:2px dashed red;
}
