@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    /* background-color: blue; */
}

.container {
    width: 58.45vw;
    margin: 0 auto;
    background-color: #fff;
}

.header {
    font-family: 'Open Sans', sans-serif;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 61px;
    margin-bottom: 63px;
}

.header-logo {
    background: url(./task-04-img/logoback.png) center / cover;
    width: 20.15vw;
    height: 90px;
}

.header-logo__text {
    color: #3687c4;
    /* width: 200px;
    height: 200px; */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 41px;
}

.header-contact {
    display: flex;
    flex-direction: row;
    width: 8.75vw;
    /* height: 44px; */
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* margin-right: 22.65vw; */
}

.header-contact__item {
    text-decoration: none;
    /* background-color: red; */
    /* border: 1px solid black; */
    /* height: 100%; */
    display: grid;
    place-items: center;
    flex: 1 1 100%;
    border-right: 1px solid #bcbec3;
}

.header-contact__item:last-child {
    border: none;
}

.header-contact__item--active {
    position: relative;
}

.header-contact__item--active path {
    fill: #1faae2;
}

.header-contact__item--active::before {
    content: 'Saudi Arabia . Alreyadah';
    /* width: 11.35vw; */
    height: 61px;
    display: flex;
    place-items: center;
    position: absolute;
    bottom: 40px;
    left: -68px;
    white-space: nowrap;
    background: url(./task-04-img/contact-message.svg) center / contain no-repeat;
    /* border: 2px solid #d4d4d5; */
    padding: 0 5px;
    border-radius: 10px;
    color: #6d6e71;
    font-size: 16px;
}

.header__bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eceef4;

    height: 86px;
    position: relative;
}

.header__bottom::before {
    content: '';
    display: block;
    width: 102vw;
    border-top: 1px solid #eceef4;;
    position: absolute;
    top: 0;
    left: -22vw;
    
    
}

.header-burger {
    display: none;
}

.header-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* flex: 1 1 100%; */
}

.header-nav__item {
    /* flex: 1 1  auto; */
    height: 100%;
    text-decoration: none;
    display: flex;
    place-items: center;
    color: #6d6e71;
    font-size: 13px;
    font-weight: 700;
    color: #6d6e71;
    padding: 0 20px;
    border-right: 1px solid #eceef4;
    
}

.header-nav__item:last-child {
    border: none;
}

.header-nav__item--active {
    color: #1faae2;
}

.form-search {
    /* border:1px solid black; */
    /* width: 300px; */
    /* height: 100px; */
    display: flex;
}

.form-search__block {

    flex: 1 1 auto;
    display: flex;
}

.form-search__icon {
    cursor: pointer;
    margin-right: 5px;
}

.form-search__input {
    border: none;
}
