<footer class="footer">
            <div class="acive-task-block">
                <div class="active-task-text">
                    <p>Active tasks: <span id="activeTasksCount">{{ activeTasks }}</span></p>
                </div>
            </div>

            <div class="finished-task-block">
                <div class="finished-task-text">
                    <p>Finished tasks: <span id="finishedTasksCount">{{ finishedTasks }}</span></p>
                </div>
            </div>

            <div class="board-info-block">
                <div class="board-info-text">
                    <p>Kanban board by <span id="userName">{{ userName }}</span>, <span id="taskCompleteYear">{{ userYear }}</span></p>
                </div>
            </div>
</footer>
<script src="./js/index.js" type="module"></script>