<footer class="footer">
            <div class="acive-task-block">
                <div class="active-task-text">
                    <p>Active tasks: <span id="activeTasksCount">&#8249;N&#8250;</span></p>
                </div>
            </div>

            <div class="finished-task-block">
                <div class="finished-task-text">
                    <p>Finished tasks: <span id="finishedTasksCount">&#8249;M&#8250;</span></p>
                </div>
            </div>

            <div class="board-info-block">
                <div class="board-info-text">
                    <p>Kanban board by <span id="userName">&#8249;NAME&#8250;</span>, <span id="taskCompleteYear">&#8249;YEAR&#8250;</span></p>
                </div>
            </div>
</footer>
<script src="./js/board.js" type="module"></script>